*{
    margin: 0;
}
#container{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#nav{
    height: 100vh;
    padding: 50px;
    h1{
        font-family: arial;
        color: white;
        font-weight: 300;
    }
    img{
        width: 90%;
    }
    background: linear-gradient(to bottom, rgb(5, 77, 159), rgb(2, 28, 57));
    span{
        
    }
}
#rela{
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#rf{
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.766);
}
#data{
    border-radius: 10px;
}